body {
    background-color:#F0F8FF;
}

container-product {
    display: flex;
  justify-content: space-around;
  width: 70%;
}


.items {
    display: flex;
    flex-basis: 70%;
    flex-wrap: wrap;
    justify-content: center;
    margin: 50px 0;
    gap: 10px;
  }

  .item {
text-align: center;
padding: 2px;
border: nome;
border-radius: 5px;
background-color:white;

  } 

  .title-product {
        display: flex;
        align-items: center;
        padding: 5px;
        text-align: center;
        width: 200px;
  }

  .add-cart {
   cursor: pointer;
    border:none;
    background-color: white;
    
    
  }